.main {
    display: flex;
    justify-content: space-around;

    .myContainer {
        margin-top: 50px;
        display: flex;
        flex-direction: column;

        .button {
            margin-bottom: 20px;
            display: flex;
            flex-direction: column;
        }
    }
}

.toastGreen{
    background-color: green;
}
.toastRed{
    background-color: red;
}
.toastYellow{
    background-color: yellow;
}