.main{
    display: flex;
    justify-content: space-around;

    .card{
        cursor: pointer;
        width: 400px;
        padding: 20px;
        img{
            max-width: 350px;
        }
    }
}